* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 750;
  background: rgb(0, 73, 254);
  background: linear-gradient(
    90deg,
    rgb(14, 0, 81) 0%,
    rgb(0, 200, 255) 50%,
    rgb(14, 0, 81) 100%
  );
}
button {
  cursor: pointer;
}
